openapi: 3.0.0
info:
  title: Nurama API
  version: 0.3.3
  description: |-
    REST API for the Nurama platform. All endpoints are served under `/v1`.

    Authenticate with a user JWT (`Authorization: Bearer <token>`) against `api.nurama.com`, or with a bot API key
    (`nrm_bot_…`) against `bot.nurama.com`. Only success and route-specific error responses are documented for each
    operation; `400` (validation), `401` (unauthenticated) and `403` (forbidden) can be returned by any authenticated
    endpoint and share the `Error` schema.

    Real-time events are delivered over Socket.IO and documented separately as an AsyncAPI document.
servers:
  - url: https://api.nurama.com/v1
    description: Production
  - url: https://bot.nurama.com/v1
    description: Production (bot API keys)
paths:
  /assets/{assetId}/access-activity:
    post:
      summary: Record a play event from the authenticated in-app player
      description: |
        FE-pinged on `play` and `ended` events from `EnhancedVideoPlayer` /
        `EnhancedAudioPlayer`. The helper de-dupes per UTC day per session,
        so resume-from-pause / region replays inside one session collapse
        into one row. `download` and `embed_resolved` are NOT accepted on
        this route — those are server-captured to keep the counts
        authoritative.
      tags:
        - AccessActivity
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                eventType:
                  type: string
                  enum:
                    - play_started
                    - play_completed
                visibility:
                  type: string
                  enum:
                    - creator
                    - reviewer
                  description: |
                    Audience side the play happened on. `public` is reserved
                    for the unauthenticated /public-download/{token} route.
              required:
                - eventType
                - visibility
              additionalProperties: false
      responses:
        '204':
          description: Event recorded.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
      x-request-source: joi
    get:
      summary: Read aggregated access activity for one asset
      description: |
        Returns totals per eventType, a top-N breakdown for one dimension,
        and a zero-filled daily series for the requested eventType. Gated
        by `canGetAccessActivity` — granted to the same roles that hold
        `canGetPublicLinks`.
      tags:
        - AccessActivity
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: range
          in: query
          required: false
          schema:
            type: string
            default: 30d
            enum:
              - 7d
              - 30d
              - 90d
        - name: groupBy
          in: query
          required: false
          schema:
            type: string
            default: visibility
            enum:
              - visibility
              - referrerHost
              - country
              - userAgentClass
              - day
        - name: eventType
          in: query
          required: false
          schema:
            type: string
            enum:
              - play_started
              - play_completed
              - download
              - embed_resolved
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Aggregated stats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                    example: 30d
                  from:
                    type: string
                    example: '2026-04-13'
                  to:
                    type: string
                    example: '2026-05-13'
                  totals:
                    type: array
                    items:
                      type: object
                      properties:
                        eventType:
                          type: string
                        count:
                          type: integer
                  breakdown:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          description: |
                            The dimension value. Empty string represents
                            "Unknown" (see `label` for display).
                        label:
                          type: string
                          example: Unknown
                        count:
                          type: integer
                  series:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          example: '2026-05-13'
                        eventType:
                          type: string
                        count:
                          type: integer
                  groupBy:
                    type: string
                  eventType:
                    type: string
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
      x-request-source: joi
  /public-download/{token}/access-activity:
    post:
      summary: Record a play event from the embed iframe (unauthenticated)
      description: |
        FE-pinged on `play` / `ended` from `EmbedPlayerPage`. The token is
        the 10-char public-link token. No authentication — the token itself
        is the credential. The backend hard-codes `visibility: 'public'` for
        this route — there's intentionally no `visibility` field accepted on
        the body. Only recorded while the link is `active`: a missing or
        disabled link rejects with 404 (deliberately indistinguishable), an
        expired one with 410.
      tags:
        - AccessActivity
        - PublicAssetLinks
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-zA-Z0-9]{10}$
            example: Ab3dEf9HiJ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                eventType:
                  type: string
                  enum:
                    - play_started
                    - play_completed
              required:
                - eventType
              additionalProperties: false
      responses:
        '204':
          description: Event recorded.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Token not found or link not active (`publicAssetLinkNotFound`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: Link expired (`publicAssetLinkExpired`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-request-source: joi
  /projects/{projectId}/access-activity/top-assets:
    get:
      summary: Top-N assets in a project by access count
      description: |
        Returns `(assetId, count)` pairs ordered by total count of the
        requested `eventType` in the range. The endpoint stays minimal on
        purpose — the FE hydrates names / thumbnails via the existing asset
        reads so this surface doesn't get coupled to the asset projection.
        Gated by `canGetAccessActivity`.
      tags:
        - AccessActivity
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: range
          in: query
          required: false
          schema:
            type: string
            default: 30d
            enum:
              - 7d
              - 30d
              - 90d
        - name: eventType
          in: query
          required: false
          schema:
            type: string
            default: play_started
            enum:
              - play_started
              - play_completed
              - download
              - embed_resolved
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Top-N assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                  from:
                    type: string
                  to:
                    type: string
                  eventType:
                    type: string
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        assetId:
                          type: string
                          format: uuid
                        count:
                          type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
      x-request-source: joi
  /ai/polish:
    post:
      summary: Polish a draft message in the requested tone.
      description: |
        Rewrites the user's draft message according to the requested tone while
        preserving meaning, intent, and any technical terms. Used by the chat
        composer's "Polish with Nu" sparkle button.

        Returns the rewritten text plus the credits actually billed and the
        workspace's balance after deduction.

        Caps:
          - `text` is capped at 4000 characters (~1000 input tokens).
          - Output is capped at ~600 tokens server-side.

        If the workspace has an `aiCustomPreprompt` configured it is prepended
        as additional system context (workspace-specific guidance to the model).
      tags:
        - AI
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
                  description: Workspace whose credits will be billed and whose AI settings gate the call.
                text:
                  type: string
                  minLength: 1
                  maxLength: 4000
                  description: The user's draft message to be rewritten.
                toneId:
                  type: string
                  enum:
                    - professional
                    - casual
                    - concise
                    - friendly
                    - formal
                    - cleanup
                  description: One of the IDs returned by `GET /ai/tones`.
                projectId:
                  type: string
                  format: uuid
                  description: Optional project context, recorded on the AiUsageEvent for analytics.
              required:
                - workspaceId
                - text
                - toneId
              additionalProperties: false
      responses:
        '200':
          description: Draft polished successfully. Credits have been deducted and an AiUsageEvent recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiPolishResponse'
              examples:
                ok:
                  summary: Successful polish
                  value:
                    polishedText: Could you please send me the file when you have a moment? Thank you.
                    billedCredits: 3
                    balanceAfter: 9997
                    eventId: 0193e4a1-b2c3-7000-8000-00000000abcd
        '400':
          description: |
            Validation error, or a gate / tool error. Possible `type` values:
              - `validationError` — Joi rejected the body
              - `aiToneNotFound` — `toneId` not in the catalogue
              - `aiDraftEmpty` — `text` empty or whitespace-only
              - `aiDraftTooLong` — `text` exceeds `limits.polish.maxInputChars`
              - `subscriptionNotActive` — the workspace has no active subscription
              - `creditBalanceInsufficient` — workspace balance is below the
                worst-case estimate (`errorData: { creditsRequired, currentBalance }`)
              - `creditOrderExceedsUserDailySpendLimit` — the caller has hit
                their daily AI spend cap (`errorData: { creditsRequired, userDailySpend, userDailySpendBudget }`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            Forbidden. Possible `type` values:
              - `forbidden` — the caller does not hold `canAiPolishInput` on the workspace.
              - `capabilityNotAvailable` — the workspace's plan lacks the `ai`
                capability or `aiAddOnEnabled` is off (`errorData: { capability: 'ai', workspaceId }`).
              - `aiFeatureNotEnabled` — effective AI settings (project
                overrides workspace) have `allowAiFeatures` or `aiPolishEnabled`
                off, or the caller is a reviewer and `aiPolishAllowReviewer` is off.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: |
            Upstream provider failure (Cloudflare AI Gateway / Anthropic).
            `type` is `aiProviderFailure` or `aiProviderEmptyResponse`. No credits are deducted; no event is recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      x-request-source: joi
  /ai/task-generation:
    post:
      summary: Convert a chat message into one or more board-task drafts.
      description: |
        Generates a list of `{ subject, description }` task drafts from a
        chat message. Used by the chat composer's per-message create-task
        dropdown ("Generate with Nu" option). The frontend opens the
        EnhancedTaskCreatorModal in a loading state, calls this endpoint,
        and seeds the modal's draft list from the `tasks` array.

        **Compound capability requirement.** Unlike Polish, this endpoint
        requires BOTH `requireCapability('boards', projectId)` and
        `requireCapability('ai', workspaceId)`; both `workspaceId` and
        `projectId` must resolve to an active subscription. Either capability
        missing returns `capabilityNotAvailable`.

        **Context window.** `contextMessages` is the preceding chat
        thread (oldest first). The server caps at 10 messages and each
        entry's `content` at 8000 characters; supply the messages immediately
        before the focal one so the model can resolve pronouns and references.

        **Permission.** Requires `canAiGenerateTasks` (granted to all
        workspace/project admins via `ai:*`, plus to creator / reviewer /
        reviewerAdmin role bundles explicitly).

        **Pre-prompt.** If the workspace or project has
        `aiTaskGenerationPreprompt` configured, it is appended to the
        system prompt as an override block (project value wins per-key).
        Separate from `aiCustomPreprompt` so admins can tune task style
        without affecting Polish or Chat output.

        Caps:
          - `messageText` is capped at 8000 characters.
          - `contextMessages` is capped at 10 entries; each entry's
            `content` is capped at 8000 characters and `authorName` at 100.
          - The LLM is instructed to emit at most 10 tasks; the server
            also enforces this cap defensively.
      tags:
        - AI
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
                  description: Workspace whose credits will be billed and whose AI settings gate the call.
                projectId:
                  type: string
                  format: uuid
                  description: |
                    Project the generated tasks will belong to. Required —
                    drives both the `enableBoards` subscription check and
                    the project-scoped settings resolution.
                messageText:
                  type: string
                  minLength: 1
                  maxLength: 8000
                  description: The focal chat message text to convert into tasks.
                messageId:
                  type: string
                  format: uuid
                  description: |
                    Optional source chat message id. Recorded nowhere
                    today; reserved for future audit linking between
                    `AiUsageEvent` and the originating `ChatMessage`.
                contextMessages:
                  type: array
                  items:
                    type: object
                    properties:
                      authorName:
                        type: string
                        maxLength: 100
                        nullable: true
                        description: Display name of the message author. Optional but improves prompt clarity.
                      content:
                        type: string
                        minLength: 1
                        maxLength: 8000
                    required:
                      - content
                    additionalProperties: false
                  maxItems: 10
                  description: |
                    Preceding chat messages (oldest first) for
                    conversational lead-in. The focal message is NOT
                    duplicated here.
              required:
                - workspaceId
                - projectId
                - messageText
              additionalProperties: false
      responses:
        '200':
          description: Tasks generated successfully. Credits have been deducted and an AiUsageEvent recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTaskGenerationResponse'
              examples:
                ok:
                  summary: Two tasks generated from the focal message
                  value:
                    tasks:
                      - subject: Draft launch checklist
                        description: List every step needed before go-live.
                      - subject: Notify stakeholders
                        description: Email the launch plan to leadership.
                    billedCredits: 4
                    balanceAfter: 9996
                    eventId: 0193e4a1-b2c3-7000-8000-00000000abcd
        '400':
          description: |
            Validation error, or a gate / tool error. Possible `type` values:
              - `validationError` — too many `contextMessages`, oversized item, etc.
              - `aiTaskGenerationInputEmpty` — `messageText` empty/whitespace
              - `aiTaskGenerationInputTooLong` — `messageText` exceeds the 8000-char cap
              - `subscriptionNotActive` — the workspace or project has no active subscription
              - `creditBalanceInsufficient` / `creditOrderExceedsUserDailySpendLimit`
                — balance below the worst-case estimate, or the caller's daily cap is hit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            Forbidden. Possible `type` values:
              - `forbidden` — the caller does not hold `canAiGenerateTasks` on the workspace.
              - `capabilityNotAvailable` — the project's workspace lacks the
                `boards` capability, or the workspace lacks the `ai` capability
                (`errorData.capability` says which).
              - `aiFeatureNotEnabled` — effective AI settings (project
                overrides workspace) have `allowAiFeatures` or
                `aiTaskGenerationEnabled` off (or `aiTaskGenerationAllowReviewer` for reviewers).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: |
            Upstream failure. Possible `type` values:
              - `aiProviderFailure` — Cloudflare AI Gateway / Anthropic call failed.
              - `aiProviderEmptyResponse` — provider returned no usable content.
              - `aiTaskGenerationInvalidOutput` — provider returned content
                that couldn't be parsed as the required JSON shape, or
                contained zero usable tasks. The frontend surfaces this in
                the modal's error panel with Try Again / Create Directly.
            No credits are deducted on a provider-side failure; no event is recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      x-request-source: joi
  /ai/compose:
    post:
      summary: One turn of a Compose-with-Nu drafting conversation.
      description: |
        Nu helps the user draft a message for a specific chat. The client sends
        the drafting conversation so far (`messages`, oldest first); the server
        reads the target chat for context and tone and returns Nu's commentary
        (`text`) plus, when it has one, a `proposal` — the message Nu suggests
        posting. Nothing is posted; the user decides whether the proposal
        reaches their composer.

        Gate stack: `canAiComposeMessage` on the workspace → active
        subscription → `ai` capability → `aiComposeEnabled` (and
        `aiComposeAllowReviewer` for reviewers) → pre-flight balance. In
        addition the service re-checks chat access with `canGetChat` before
        reading a single message, so a caller can only compose into a chat
        they can already read.

        Caps: 1–40 turns; each turn's `text` / `proposal` ≤ 4000 characters.
      tags:
        - AI
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
                  description: Workspace whose credits will be billed and whose AI settings gate the call.
                chatId:
                  type: string
                  format: uuid
                  description: >-
                    The chat being composed into. Read server-side for context; the client never sends transcript
                    content.
                projectId:
                  type: string
                  format: uuid
                  description: Optional project context for settings resolution and analytics.
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                      text:
                        type: string
                        maxLength: 4000
                        description: The turn's text. May be empty.
                      proposal:
                        type: string
                        maxLength: 4000
                        nullable: true
                        description: >-
                          For assistant turns, the proposal Nu previously offered — replayed so Nu can see what it
                          already suggested.
                    required:
                      - role
                      - text
                    additionalProperties: false
                  minItems: 1
                  maxItems: 40
                  description: The drafting conversation so far, oldest first.
              required:
                - workspaceId
                - chatId
                - messages
              additionalProperties: false
      responses:
        '200':
          description: Turn completed. Credits have been deducted and an AiUsageEvent recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiComposeResponse'
              examples:
                ok:
                  value:
                    text: 'Here''s a short version you could post:'
                    proposal: Heads up — the review has moved to Thursday. Same time, same link.
                    billedCredits: 4
                    balanceAfter: 9993
                    eventId: 0193e4a1-b2c3-7000-8000-00000000abcd
        '400':
          description: |
            Validation error, or `subscriptionNotActive`,
            `creditBalanceInsufficient`, `creditOrderExceedsUserDailySpendLimit`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            `forbidden` (no `canAiComposeMessage`, or the caller cannot read
            `chatId`), `capabilityNotAvailable`, or `aiFeatureNotEnabled`
            (`aiComposeEnabled` / `aiComposeAllowReviewer` off).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          description: Upstream provider failure (`aiProviderFailure`). No credits are deducted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
      x-request-source: joi
  /ai/feedback:
    post:
      summary: Rate one assistant reply (Nu Feedback).
      description: |
        Records a thumbs-up / thumbs-down on a single assistant reply, together
        with a **snapshot of the interaction that produced it**, for the team to
        review in the admin site under *Nu Feedback*.

        **What gets stored.** The reply being rated, up to ten preceding turns
        of the conversation, and — when the client supplies them — the page
        context and pinned Context-column items that were in play at the time.
        Each captured message is truncated at 4,000 characters. The user is told
        this before submitting: the dialog states that context from the
        interaction will be submitted to the team for review. Do not widen what
        this endpoint captures without changing that sentence too.

        The interaction is **snapshotted, not referenced**. Two reasons:

          - Admins reviewing feedback hold no membership in the submitter's
            workspace, so they could not read the source chat through the normal
            permission path — and granting them one would be a far larger change
            than this feature needs.
          - A referenced chat can be deleted, or the topic rewritten, long before
            anyone looks. The record's value is what the model actually said at
            the time.

        **Authorisation.** `auth()` plus, inside the service,
        `assertChatReadable` — the same `canGetChat` the chat routes run. A user
        can only rate a reply in a chat they can already read, so this endpoint
        cannot be used to capture someone else's conversation by guessing
        message ids. Failure is `403 forbidden`.

        **Deliberately NOT gated** by `validateSubscription`,
        `requireAiEnabled` or `requireSufficientAiBalance`. Those gate *use* of
        the AI; this is feedback *about* it, and a workspace whose AI add-on was
        just switched off is exactly the one whose feedback matters most.

        A snapshot that cannot be built does not fail the request — the rating is
        still recorded, with `context.snapshotError: true`. Losing a thumbs-down
        to a transcript read failure would be the wrong trade.
      tags:
        - AI
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: string
                  enum:
                    - positive
                    - negative
                  description: The face the user picked.
                surface:
                  type: string
                  enum:
                    - chat
                    - assist
                  description: |
                    Which AI surface produced the reply — `chat` for Nu Chat /
                    Nu Support, `assist` for Nu @-mentioned inside a regular
                    chat. The two run different prompts and tool sets and are
                    tuned separately.
                chatId:
                  type: string
                  format: uuid
                  description: |
                    Chat the rated reply lives in. Required: it is what the
                    access check runs against and what the snapshot is built
                    from.
                messageId:
                  type: string
                  format: uuid
                  description: The assistant reply being rated.
                notes:
                  type: string
                  maxLength: 2000
                  description: |
                    The user's own words on what worked or didn't. Optional — a
                    rating with no explanation is still a signal.
                workspaceId:
                  type: string
                  format: uuid
                projectId:
                  type: string
                  format: uuid
                pageContext:
                  type: object
                  additionalProperties: true
                  description: |
                    What the orchestrator was told about the user's surroundings.
                    Loosely typed on purpose — the shape changes as the
                    orchestrator changes, and rejecting a submission over a shape
                    drift would lose the signal.
                contextItems:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Pinned Context-column items, capped at 50.
              required:
                - rating
                - surface
                - chatId
              additionalProperties: false
      responses:
        '201':
          description: Feedback recorded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
              examples:
                ok:
                  value:
                    id: 0192f3a4-5b6c-7d8e-9f01-23456789abcf
        '400':
          description: Validation error — unknown `rating`/`surface`, or notes over 2,000 characters.
        '401':
          description: Unauthorized — missing or invalid bearer token.
        '403':
          description: |
            `forbidden` — the caller cannot read `chatId`. Same gate the chat
            routes apply, so this also covers a chat that does not exist.
      parameters: []
      x-request-source: joi
  /ai/tones:
    get:
      summary: List polish tones available to the chat composer.
      description: |
        Returns the polish tone catalogue so the frontend can render the tone
        dropdown without hard-coding strings client-side. The list is fixed for
        the MVP; workspace-scoped custom tones are planned for v2.
      tags:
        - AI
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Tone catalogue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tones:
                    type: array
                    items:
                      $ref: '#/components/schemas/AiTone'
              examples:
                ok:
                  summary: Default tone catalogue
                  value:
                    tones:
                      - id: professional
                        label: Professional
                      - id: casual
                        label: Casual
                      - id: concise
                        label: Concise
                      - id: friendly
                        label: Friendly
                      - id: formal
                        label: Formal
                      - id: cleanup
                        label: Cleanup
        '401':
          description: Unauthorized — missing or invalid bearer token.
  /ai/balance:
    get:
      summary: Get the workspace's current Nurama Credit balance.
      description: |
        Returns the workspace's spendable Nurama Credit balance, sourced from
        the canonical `CreditBalance` row maintained atomically by the AI
        usage and grant flows.

        Requires `canGetCreditBalance` on the workspace (workspace owner /
        admin, project owner / admin) and an active subscription; no
        per-feature gate. The balance is also returned as `balanceAfter` on
        every billable AI call, so the FE can keep its display fresh without
        a separate fetch after every call.

        `balance` is the spendable total: `planBalance` (monthly plan grant,
        does not carry over) + `purchasedBalance` (top-ups, accumulates).
        `hasPriorTopUp` reports whether the workspace has ever made a manual
        credit purchase — the precondition for enabling auto top-up.

        Aliased at `GET /credits/balance` (same handler, same response).
      tags:
        - AI
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Workspace whose Nurama Credit balance to retrieve.
      responses:
        '200':
          description: Current credit balance (integer credits; 0 if the workspace has never been granted credits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiBalanceResponse'
              examples:
                ok:
                  summary: Current balance
                  value:
                    balance: 9997
                    planBalance: 5000
                    purchasedBalance: 4997
                    hasPriorTopUp: true
        '400':
          description: '`subscriptionNotActive` — the workspace has no active subscription.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized — missing or invalid bearer token.
        '403':
          description: |
            Forbidden — the caller does not hold `canGetCreditBalance` on the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-request-source: joi
  /ai/usage:
    get:
      summary: Aggregated Nurama Credit usage report for a workspace.
      description: |
        Credit spend on AI features (and convos) in a time window, totalled
        and broken down by user and by integration point. Defaults to a
        rolling 30-day window ending now when no dates are passed. Filters
        apply uniformly: `userId` narrows the per-integration breakdown to
        that user's calls, and `integrationPoint` narrows the per-user
        breakdown to that feature.

        Requires `canGetCreditUsageReport` on the workspace (granted to the
        same roles as `canGetCreditBalance`) and an active subscription.

        Aliased at `GET /credits/usage` (same handler, same response).
      tags:
        - AI
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: ISO 8601 date-time. Defaults to 30 days before `endDate`.
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: ISO 8601 date-time; must not be before `startDate`. Defaults to now.
        - name: userId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: integrationPoint
          in: query
          required: false
          schema:
            type: string
            enum:
              - polish
              - chat
              - taskGeneration
              - imageRevision
              - convo
      responses:
        '200':
          description: Usage report for the window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiUsageReportResponse'
        '400':
          description: Validation error (bad dates, unknown `integrationPoint`), or `subscriptionNotActive`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — the caller does not hold `canGetCreditUsageReport` on the workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-request-source: joi
  /ai/chat/topics:
    get:
      summary: List the caller's AI chat topics for a scope.
      description: |
        Returns topics owned by the calling user, scoped to one
        workspace / project, or to "social" (personal) chats. Topics are
        ordered by `lastMessageAt` desc with nulls last.
      tags:
        - AI
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: scopeType
          in: query
          required: true
          schema:
            type: string
            enum:
              - workspace
              - project
              - social
        - name: scopeId
          in: query
          required: false
          schema: {}
          description: Required when `scopeType` is `workspace` or `project`; must be omitted for `social`.
        - name: archived
          in: query
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Topic list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiChatTopicListResponse'
        '400':
          description: Validation error, or `subscriptionNotActive`.
        '401':
          description: Unauthorized.
        '403':
          description: |
            Forbidden — the scope-access check failed (no `canGetProject` /
            `canGetWorkspace` on `scopeId`; `forbidden`), the workspace lacks
            the `ai` capability (`capabilityNotAvailable`), or `aiChatEnabled`
            resolved false (`aiFeatureNotEnabled`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-request-source: joi
    post:
      summary: Create a new (empty) AI chat topic.
      description: |
        Creates a `ChatAi` row plus its backing `Chat`. The topic is always
        empty — send the first message through
        `POST /v1/chats/{topic.chatId}/new-message`; `chat.service` detects
        `chatType === 'ai'` and fires the orchestrator (which runs the balance
        check). No credits are charged by this endpoint.

        The first user→assistant exchange triggers an auto-naming pass; the
        resulting title arrives via the `aiChatTopicUpdate` notification.

        Gate stack: `requireScopeAccess()` → active subscription → `ai`
        capability → `aiChatEnabled`.
      tags:
        - AI
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
                  description: Workspace whose credits will be billed for the conversation.
                scopeType:
                  type: string
                  enum:
                    - workspace
                    - project
                    - social
                scopeId:
                  description: Required when scopeType is `workspace` or `project`; must be omitted for `social`.
                title:
                  type: string
                  maxLength: 120
                  description: Optional user-supplied title; otherwise the topic is auto-named after the first exchange.
              required:
                - workspaceId
                - scopeType
              additionalProperties: false
      responses:
        '201':
          description: Topic created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiChatCreateTopicResponse'
        '400':
          description: Validation error (bad scope shape, `scopeId` present on a social topic, etc.), or `subscriptionNotActive`.
        '401':
          description: Unauthorized.
        '403':
          description: |
            Forbidden — scope access (`forbidden`), `ai` capability
            (`capabilityNotAvailable`), or `aiChatEnabled` (`aiFeatureNotEnabled`) gate failed.
      parameters: []
      x-request-source: joi
  /ai/chat/topics/{topicId}:
    get:
      summary: Get a single AI chat topic.
      tags:
        - AI
      security:
        - bearerAuth: []
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Topic row.
          content:
            application/json:
              schema:
                type: object
                properties:
                  topic:
                    $ref: '#/components/schemas/AiChatTopic'
        '400':
          description: '`subscriptionNotActive` — `workspaceId` has no active subscription.'
        '401':
          description: Unauthorized.
        '403':
          description: |
            Forbidden — the caller is not the topic's creator (`forbidden`),
            the workspace lacks the `ai` capability (`capabilityNotAvailable`),
            or `aiChatEnabled` is off (`aiFeatureNotEnabled`).
        '404':
          description: |
            Topic not found. `type` is `aiChatTopicNotFound`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-request-source: joi
    patch:
      summary: Rename, archive, or set the context pins of an AI chat topic.
      description: |
        At least one of `title`, `archived`, or `contextItems` must be
        provided. The owner is the only caller permitted to update the topic;
        the service rejects any other user with `forbidden`.

        ## Context pins (`contextItems`)

        The items the user has pinned to Nu's Context column for this topic —
        assets, folders, people, submissions, and public collections that the
        conversation is "about". Persisted here rather than sent per message,
        so the column survives a page reload and a new session the way the
        conversation does.

        Sent and stored as **identity only** (`type` + `id`); the server
        normalises away any other field. Names, thumbnails, and content are
        never stored, and neither is any access decision.

        A pin is a **bookmark, not a grant**. Every entry is re-resolved from
        scratch on every turn, under the caller's live permissions:

          - an item deleted since it was pinned drops out of that turn;
          - an item the caller has since lost access to drops out;
          - visibility tiers are re-derived per turn — the stored pin
            carries none.

        Dropped entries are silently omitted from the model's context rather
        than reported, so the assistant never learns that something it cannot
        see exists. The stored list is left intact, so regaining access
        restores the pin without re-pinning.

        Sending `contextItems` replaces the topic's pins wholesale. An empty
        array clears them. Only project-scoped topics resolve pins at all;
        workspace- and social-scoped topics have no project to resolve
        against and ignore them.
      tags:
        - AI
      security:
        - bearerAuth: []
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
                title:
                  type: string
                  minLength: 1
                  maxLength: 120
                archived:
                  type: boolean
                contextItems:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - asset
                          - folder
                          - user
                          - submission
                          - public
                      id:
                        type: string
                        maxLength: 200
                        description: |
                          UUID for every type except `public`, which is keyed by its share token.
                    required:
                      - type
                      - id
                    additionalProperties: false
                  maxItems: 20
                  description: >
                    Replaces the topic's Context-column pins wholesale. An empty array clears them. Identity only — see
                    the endpoint description for how these are re-resolved per turn.
              required:
                - workspaceId
              additionalProperties: false
              x-dependencies:
                - or:
                    - title
                    - archived
                    - contextItems
      responses:
        '200':
          description: Updated topic.
          content:
            application/json:
              schema:
                type: object
                properties:
                  topic:
                    $ref: '#/components/schemas/AiChatTopic'
        '400':
          description: Validation error (none of `title` / `archived` / `contextItems` supplied), or `subscriptionNotActive`.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden — not the topic's creator, `capabilityNotAvailable`, or `aiFeatureNotEnabled`.
        '404':
          description: Topic not found (`aiChatTopicNotFound`).
      x-request-source: joi
    delete:
      summary: Delete an AI chat topic.
      description: |
        Soft-deletes the topic: the `ChatAi` row and every message in its
        backing chat are moved to `status: pendingDelete` and an
        `aiChatTopicUpdate` notification with a `delete` change is emitted on
        the caller's user channel. Only the topic's creator may delete it.
      tags:
        - AI
      security:
        - bearerAuth: []
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 'Topic deleted. Returns the topic row with `status: pendingDelete`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  topic:
                    $ref: '#/components/schemas/AiChatTopic'
        '400':
          description: '`subscriptionNotActive` — `workspaceId` has no active subscription.'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden — not the topic's creator, `capabilityNotAvailable`, or `aiFeatureNotEnabled`.
        '404':
          description: Topic not found (`aiChatTopicNotFound`).
      x-request-source: joi
  /ai/support-chat/topic:
    get:
      tags:
        - AI
      summary: Get-or-create the caller's Nurama Support topic.
      description: |
        Returns the caller's single Nurama Support topic, lazily creating
        the row (and its backing `Chat` + root `Inheritance`) on first
        call. Safe to invoke on every page mount — re-calling returns the
        same row.

        Gate stack: `auth() → requireGlobalSupportChatEnabled`. No
        per-user HTTP rate limiter; the daily cap is enforced inside the
        orchestrator's `handleSupportTurn` against the `AiUsageEvent`
        audit stream so reads here stay unlimited.
      responses:
        '200':
          description: The caller's Support topic.
          content:
            application/json:
              schema:
                type: object
                properties:
                  topic:
                    $ref: '#/components/schemas/SupportChatTopic'
        '401':
          description: Not authenticated.
        '404':
          description: |
            Nurama Support chat is disabled platform-wide via
            `AI_SUPPORT_CHAT_ENABLED=false`.
  /ai/support-chat/attachments:
    post:
      tags:
        - AI
      summary: Mint a Scratch upload bundle for one image attachment.
      description: |
        Returns a multipart upload bundle for one image headed for the
        Nurama Support chat. The caller multipart-uploads the bytes to
        the signed URLs in `urls`, then calls
        `POST /v1/scratch/{scratchId}/complete-upload` with
        `{ uploadId, parts }`. To send the message, include the scratch
        ref in the chat-create payload:

        ```
        POST /v1/chats/{chatId}/new-message
        { "content": "What does this error mean?",
          "attachments": [{ "scratchId": "...", "name": "screenshot.png" }] }
        ```

        Storage anchor: the caller's primary workspace (the support chat
        itself lives outside workspace inheritance, but Scratch requires
        a workspace for its storage chain). Users with zero workspaces
        cannot attach — they get `forbidden` and the FE shows the
        text-only composer.

        TTL: 72 hours. The bytes are read by the orchestrator's vision
        pass on the next user message; the cleanup pass reaps the row
        within the window. Scratch rows for support attachments are
        **never promoted** to a permanent Asset — the vision pass's
        textual analysis is what persists on the assistant reply (`chat.service.createMessage`
        stashes the scratch ids on the user message's `meta.imageScratchIds`
        instead of calling `promoteScratchAttachmentsToChatMessage`).

        Hard caps:
          - `sizeInMB ≤ 10`
          - `mimeType ∈ { image/png, image/jpeg, image/webp, image/gif }`

        Gate stack: `auth() → requireGlobalSupportChatEnabled`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Original file name; round-trips to the FE as a chip label and to the BE on `meta.name`.
                sizeInMB:
                  type: number
                  minimum: 0
                  x-exclusiveMinimum: true
                  maximum: 10
                  description: >-
                    Advisory size in megabytes used to compute the multipart part count. Canonical byte count is filled
                    in by `completeUpload` from the bucket HEAD.
                mimeType:
                  type: string
                  enum:
                    - image/png
                    - image/jpeg
                    - image/webp
                    - image/gif
              required:
                - name
                - sizeInMB
                - mimeType
              additionalProperties: false
      responses:
        '201':
          description: Scratch upload bundle. Multipart-upload the bytes, then call `POST /v1/scratch/{scratchId}/complete-upload`.
          content:
            application/json:
              schema:
                type: object
                required:
                  - scratchId
                  - uploadId
                  - key
                  - urls
                properties:
                  scratchId:
                    type: string
                    format: uuid
                  uploadId:
                    type: string
                  key:
                    type: string
                    description: S3-compatible object key in the media bucket.
                  urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    description: Per-part signed PUT URLs.
        '400':
          description: |
            Invalid input (missing fields, oversize, or unsupported
            mime). Errors: `fileInvalid`, `notSupported`.
        '401':
          description: Not authenticated.
        '403':
          description: |
            Caller has no workspace membership (Scratch requires a
            workspace as a storage anchor) or the platform Scratch
            keyset isn't configured. Error: `forbidden`.
        '404':
          description: |
            Nurama Support chat is disabled platform-wide via
            `AI_SUPPORT_CHAT_ENABLED=false`.
      parameters: []
      x-request-source: joi
  /ai/revisions:
    post:
      tags:
        - AI
      summary: Generate an AI image revision.
      description: |
        Generate a variation of an existing image (or a captured video
        frame) guided by a free-text prompt. The result is staged on the
        platform Scratch primitive — call `POST /scratch/{id}/promote` to
        materialise the chosen revision as a real Asset on the destination
        project (there is no `/ai/revisions/promote` route).

        `source` must contain exactly one of `url` (public media URL),
        `scratchId` (a row minted via `POST /ai/revisions/source-upload` —
        the modern path for video frames; it must belong to the caller and
        workspace, be `active`, and have `jobType: aiRevisionSource`), or
        `dataUrl` (deprecated legacy path for video frames).

        Gate stack: `canAiGenerateImageRevision` on the workspace → active
        subscription → `ai` capability → `aiImageRevisionEnabled`
        workspace/project setting (`aiImageRevisionAllowReviewer` for
        reviewers) → a worst-case credit pre-flight (flat USD estimate).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
                projectId:
                  type: string
                  format: uuid
                assetId:
                  type: string
                  format: uuid
                  description: |
                    Audit-only — the caller has already resolved the
                    asset's public media URL into `source.url`. Stored
                    on the Scratch row's `meta` for lineage.
                source:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                      description: Public media URL of the source image.
                    dataUrl:
                      type: string
                      pattern: ^data:image\/[a-zA-Z0-9.+-]+;base64,
                      description: Base64 image data URL. Legacy path — prefer `scratchId`.
                      deprecated: true
                    scratchId:
                      type: string
                      format: uuid
                      description: Scratch row id returned by `POST /ai/revisions/source-upload`.
                  additionalProperties: false
                  x-dependencies:
                    - xor:
                        - url
                        - dataUrl
                        - scratchId
                  description: |
                    Exactly one of `url`, `scratchId` or `dataUrl` (sending
                    two is a validation error).
                prompt:
                  type: string
                  minLength: 1
                  maxLength: 1000
                  description: Plain-language description of the desired edit.
                references:
                  type: array
                  items:
                    oneOf:
                      - type: string
                        format: uri
                      - type: string
                        pattern: ^data:image\/[a-zA-Z0-9.+-]+;base64,
                  maxItems: 8
                  description: |
                    Optional reference images (public URLs or base64 image
                    data URLs). Used for multi-image conditioning when
                    iterating on a prior revision.
                mask:
                  type: object
                  properties:
                    dataUrl:
                      type: string
                      pattern: ^data:image\/png;base64,
                      description: '`data:image/png;base64,…` — PNG only (JPEG has no alpha channel).'
                  required:
                    - dataUrl
                  additionalProperties: false
                  description: |
                    Optional alpha-channel mask. PNG data URL matching
                    the source image's dimensions. Transparent pixels
                    mark the region to edit; opaque pixels are preserved.
                    Forwarded to OpenAI as the top-level `mask` field —
                    NOT as another `references[]` entry. When supplied,
                    the prompt is auto-augmented with a region directive.
                jobId:
                  type: string
                  format: uuid
                  description: Groups all revisions in one modal session for cleanup + analytics.
                sourceAspect:
                  type: number
                  minimum: 0.1
                  x-exclusiveMinimum: true
                  maximum: 10
                  description: |
                    Source image aspect ratio (width / height). Drives the
                    generation size bucket (square / landscape / portrait) and
                    the post-generate pad-to-aspect step.
              required:
                - workspaceId
                - source
                - prompt
              additionalProperties: false
      responses:
        '200':
          description: Generation succeeded; returns the scratch id + public URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisionId:
                    type: string
                    format: uuid
                  revisionUrl:
                    type: string
                    nullable: true
                  model:
                    type: string
                  quality:
                    type: string
                  billedCredits:
                    type: integer
                  balanceAfter:
                    type: integer
                    nullable: true
                  eventId:
                    type: string
                    format: uuid
                    nullable: true
        '400':
          description: |
            Validation error. `aiRevisionMaskInvalid` when `mask.dataUrl`
            isn't a PNG data URL. `aiRevisionPromptEmpty` /
            `aiRevisionPromptTooLong` on prompt-shape errors.
            `aiRevisionTooManyReferences` when `references[]` exceeds
            the per-tool max. `aiRevisionSourceMissing` when the source is
            absent or `scratchId` does not resolve to an active
            `aiRevisionSource` row. Also `subscriptionNotActive`,
            `creditBalanceInsufficient`, `creditOrderExceedsUserDailySpendLimit`.
        '401':
          description: Unauthenticated.
        '403':
          description: |
            Forbidden — `forbidden` (no `canAiGenerateImageRevision`, or the
            `scratchId` belongs to another user / workspace),
            `capabilityNotAvailable`, or `aiFeatureNotEnabled` when
            `aiImageRevisionEnabled` is off.
        '502':
          description: Upstream provider failure (`aiProviderFailure`).
      parameters: []
      x-request-source: joi
  /ai/revisions/source-upload:
    post:
      tags:
        - AI
      summary: Mint a Scratch upload bundle for an image-revision source frame.
      description: |
        Returns signed multipart upload URLs the client uses to upload a
        source image (a captured video frame — always JPEG) directly into
        Scratch BEFORE calling `POST /ai/revisions` with
        `source.scratchId`. The API node never sees the bytes. After
        uploading the parts, complete the upload via
        `POST /v1/scratch/{scratchId}/complete-upload`.

        Same gate stack as generate minus the balance check (staging is
        free): `canAiGenerateImageRevision` → active subscription → `ai`
        capability → `aiImageRevisionEnabled`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspaceId:
                  type: string
                  format: uuid
                projectId:
                  type: string
                  format: uuid
                assetId:
                  type: string
                  format: uuid
                  description: Audit-only lineage — the asset the frame was captured from. Stored on the Scratch row's `meta`.
                sizeInMB:
                  type: number
                  minimum: 0
                  x-exclusiveMinimum: true
                  maximum: 25
                  description: Size of the JPEG in MB; drives the multipart part count. 25 MB matches the provider's per-image cap.
              required:
                - workspaceId
                - sizeInMB
              additionalProperties: false
      responses:
        '200':
          description: Upload bundle. Multipart-upload the bytes to `urls`, then complete the upload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scratchId:
                    type: string
                    format: uuid
                    description: Pass as `source.scratchId` to `POST /ai/revisions`.
                  key:
                    type: string
                    description: Bucket-side key path.
                  uploadId:
                    type: string
                  urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    description: Per-part signed PUT URLs.
                  expires:
                    type: string
                    format: date-time
                    description: When the Scratch row expires.
        '400':
          description: Validation error, or `subscriptionNotActive`.
        '401':
          description: Unauthenticated.
        '403':
          description: '`forbidden`, `capabilityNotAvailable`, or `aiFeatureNotEnabled` (`aiImageRevisionEnabled` off).'
      parameters: []
      x-request-source: joi
  /assets/{assetId}:
    get:
      summary: Get asset information with optional chat data
      description: Retrieve information for a specific asset by ID. Optionally include chat data by specifying chatVisibility.
      tags:
        - Assets
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset to retrieve.
        - name: chatVisibility
          in: query
          required: false
          schema:
            type: string
            enum:
              - creator
              - reviewer
          description: Visibility level of chat to include in response. If not specified, no chat data will be populated.
        - name: chatMessageSort
          in: query
          required: false
          schema:
            type: object
            properties:
              id:
                type: number
                enum:
                  - 1
                  - -1
            additionalProperties: false
            default:
              id: -1
          style: deepObject
          explode: true
          description: Sorting criteria for chat messages.
        - name: chatReplySort
          in: query
          required: false
          schema:
            type: object
            properties:
              id:
                type: number
                enum:
                  - 1
                  - -1
            additionalProperties: false
            default:
              id: -1
          style: deepObject
          explode: true
          description: Sorting criteria for chat replies.
        - name: chatMessageLimit
          in: query
          required: false
          schema:
            type: number
            maximum: 100
            default: 20
          description: Maximum number of chat messages to return.
        - name: chatReplyLimit
          in: query
          required: false
          schema:
            type: number
            maximum: 100
            default: 20
          description: Maximum number of chat replies to return per message.
      responses:
        '200':
          description: Successfully retrieved asset information.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Asset'
                  - type: object
                    properties:
                      chats:
                        type: object
                        description: Chat data for the asset (only present if chatVisibility is specified)
                        properties:
                          creator:
                            allOf:
                              - $ref: '#/components/schemas/Chat'
                            description: Creator chat data (only present if chatVisibility includes 'creator')
                          reviewer:
                            allOf:
                              - $ref: '#/components/schemas/Chat'
                            description: Reviewer chat data (only present if chatVisibility includes 'reviewer')
        '400':
          description: Bad request - Invalid asset ID or query parameters.
        '401':
          description: Unauthorized - Authentication required.
        '403':
          description: Forbidden - User does not have permission to access the asset or specified chat visibility level.
        '404':
          description: Asset not found.
      security:
        - bearerAuth: []
      x-request-source: joi
    put:
      summary: Update asset
      description: |
        Modify an existing asset (name, meta, sizeInBytes, status). Requires `canUpdateAsset`.
        `status` cannot be set to `pendingDelete` here — deletion goes through `DELETE /assets/{assetId}`.
      tags:
        - Assets
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset to update.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: New display name. HTML is sanitised.
                  example: Asset Name
                meta:
                  type: object
                sizeInBytes:
                  type: number
                  minimum: 0
                status:
                  type: string
                  enum:
                    - active
                    - pendingUpload
                    - pendingPostProcessing
                    - postProcessingError
                    - inactive
                  description: Any asset status except `pendingDelete`.
              additionalProperties: false
              example:
                name: New Asset Name
                meta:
                  key1: value1
                  key2: value2
      responses:
        '200':
          description: Successfully updated asset information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden - the user does not have permission to update the asset.
        '404':
          description: Asset not found.
      security:
        - bearerAuth: []
      x-request-source: joi
    delete:
      summary: Mark asset for deletion
      description: Mark an asset as deleted.
      tags:
        - Assets
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset to mark for deletion.
      responses:
        '200':
          description: Successfully marked asset for deletion. Returns the asset with `status` set to `pendingDelete`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden - the user does not have permission to delete the asset.
        '404':
          description: Asset not found.
      security:
        - bearerAuth: []
      x-request-source: joi
  /assets/{assetId}/references:
    get:
      summary: List every location an asset is referenced
      description: >
        One asset can be referenced from many places at once — its own folder, the reviewer tree, any submission it was
        added to, any public release it was shared in. They all point at the same asset, which is why renaming it
        retitles it everywhere, and why deleting the last reference in its primary file system removes the rest.


        PRIMARY references are the asset's home file system; SECONDARY are everything else, grouped by collection. Only
        collections with at least one reference appear in `counts`.
      tags:
        - Assets
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the asset
      responses:
        '200':
          description: Every location the asset is referenced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetReferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-request-source: joi
  /assets/{assetId}/file/{fileId}:
    get:
      summary: Get file from asset
      description: |
        Retrieve a specific file from an asset by asset ID and file ID. Requires `canGetAsset`.
        Private fields (`bucketName`, `tags`, `postProcessingTasks`) are stripped from the response.
      tags:
        - Assets
      responses:
        '200':
          description: Successfully retrieved file information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          $ref: '#/components/responses/FileNotFound'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden - the user does not have permission to get the file.
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset containing the file.
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the file to retrieve.
      x-request-source: joi
  /assets/{assetId}/function-type/{functionType}:
    get:
      summary: Get files by function type
      description: |
        Retrieve all files from an asset filtered by function type. Requires `canGetAsset`.
        Private fields (`bucketName`, `tags`, `postProcessingTasks`) are stripped from each file.
      tags:
        - Assets
      responses:
        '200':
          description: Successfully retrieved files of the specified function type.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
        '400':
          $ref: '#/components/responses/FileNotFound'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden - the user does not have permission to get the files.
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset to retrieve files from.
        - name: functionType
          in: path
          required: true
          schema:
            type: string
            enum:
              - original
              - thumbnail
              - stream
              - media
              - customThumbnailOriginal
              - customThumbnail
              - documentText
          description: The function type of files to filter by.
      x-request-source: joi
  /assets/repair:
    post:
      summary: Bulk regenerate signed upload links for assets in status pendingUpload.
      description: |
        Marks every existing file on each asset `pendingDelete` and mints a fresh multipart
        upload URL set so the client can re-upload the original. Requires `canRepairAssets`.
        Per-asset failures are reported inline (`status: 'error'`) rather than failing the request.
      tags:
        - Assets
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                assetIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  maxItems: 100
              additionalProperties: false
      responses:
        '200':
          description: One result entry per requested asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepairAssetAndSignedLinks'
        '400':
          description: Bad request.
        '403':
          description: Forbidden - the user does not have permission to repair one or more assets.
      security:
        - bearerAuth: []
      parameters: []
      x-request-source: joi
  /assets/complete-upload:
    post:
      summary: Complete multipart upload
      description: |
        Complete a multipart upload for an asset file to S3.

        This endpoint finalizes the S3 multipart upload by combining all uploaded parts,
        registers the original file on the asset (`assetId` is required) and triggers
        asset completion and media post-processing.

        **Two-step workflow:**
        1. Upload file parts to S3 using signed URLs
        2. Call this endpoint with `assetId` to complete upload and trigger processing

        Post-processing failures after the S3 upload has been committed do not fail the
        request — they are reported via the optional `warning` field.
      tags:
        - Assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: S3 object key path
                uploadId:
                  type: string
                  description: Multipart upload ID from S3
                parts:
                  type: array
                  items:
                    type: object
                    properties:
                      ETag:
                        type: string
                      PartNumber:
                        type: integer
                    required:
                      - ETag
                      - PartNumber
                    additionalProperties: false
                  description: Array of uploaded parts with ETags
                assetId:
                  type: string
                  format: uuid
                  description: |
                    ID of the asset the upload belongs to. After the S3 upload is committed the original
                    file is registered on the asset and asset completion / media processing is triggered.
              required:
                - key
                - uploadId
                - assetId
              additionalProperties: false
      responses:
        '200':
          description: >-
            Upload completed on S3. `warning` is present when the asset could not be found or post-processing could not
            be triggered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - completed
                  warning:
                    type: string
                    description: Present only when a non-fatal follow-up step failed.
                    example: Post-processing failed
        '400':
          $ref: '#/components/responses/BadRequest'
      security:
        - bearerAuth: []
      parameters: []
      x-request-source: joi
  /assets/page/{assetId}:
    get:
      summary: Get the page an asset would appear on in paginated results.
      description: |
        Returns the 1-based page number the asset would appear on when listing assets of the
        same owner resource and media type with the given sort and page size. Requires `canGetAsset`.
        The asset must be `active`.
      tags:
        - Assets
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset to find the page number for
        - name: visibility
          in: query
          required: false
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: object
            properties:
              name:
                type: number
                enum:
                  - 1
                  - -1
              id:
                type: number
                enum:
                  - 1
                  - -1
              createdAt:
                type: number
                enum:
                  - 1
                  - -1
              updatedAt:
                type: number
                enum:
                  - 1
                  - -1
            additionalProperties: false
            default:
              id: -1
          style: deepObject
          explode: true
        - name: limit
          in: query
          required: false
          schema:
            type: number
            maximum: 20
            default: 20
          description: Page size used to compute the page number.
        - name: inFolder
          in: query
          required: false
          schema:
            type: boolean
          description: When true, the page is computed within the asset's folder rather than the whole owner resource.
      responses:
        '200':
          description: Successfully retrieved asset page data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 3
        '400':
          $ref: '#/components/responses/AssetNotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []
      x-request-source: joi
  /assets/{assetId}/tag:
    put:
      summary: Add tag to asset
      description: Add a tag to an asset.
      tags:
        - Assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tagId:
                  type: string
                  format: uuid
                  description: ID of the tag to add to the asset
              required:
                - tagId
              additionalProperties: false
      responses:
        '200':
          description: Tag added to asset successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset to tag.
      x-request-source: joi
  /assets/{assetId}/untag:
    put:
      summary: Remove tag from asset
      description: Remove a tag from an asset.
      tags:
        - Assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tagId:
                  type: string
                  format: uuid
                  description: ID of the tag to remove from the asset
              required:
                - tagId
              additionalProperties: false
      responses:
        '200':
          description: Tag removed from asset successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the asset to untag.
      x-request-source: joi
  /assets/download:
    post:
      summary: Download assets
      description: |
        Generate download links for specified assets/files. Requires `canDownloadAssets`.
        Side effect: one `AccessActivityDaily` row per asset is upserted with `eventType:
        'download'` and `visibility: req.body.visibility` (defaults to
        `'creator'`). The metric write is fire-and-forget — a failure logs
        and is swallowed; it never breaks the download response.

        Note: the Joi schema for this route validates `params` rather than `body`, so the
        request body is currently passed through unvalidated; the limits below reflect the
        intended contract (`limits.asset.maxDownloadResults`).
      tags:
        - Assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assetIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  maxItems: 100
                visibility:
                  type: string
                  enum:
                    - creator
                    - reviewer
                  description: |
                    Audience side the download was initiated from. Drives the
                    `visibility` dimension on the access-activity row.
                    Defaults to `'creator'` when omitted.
              required:
                - assetIds
      responses:
        '200':
          description: Successfully generated download links.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DownloadSignedUrlData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - bearerAuth: []
      parameters:
        - name: assetIds
          in: path
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
            maxItems: 100
      x-request-source: joi
  /assets/{assetId}/custom-thumbnail/upload-url:
    post:
      summary: Mint a signed multipart upload URL for a custom thumbnail
      description: |
        Returns a multipart upload URL set for a user-supplied custom thumbnail
        image. The upload lands in the originals bucket under
        `<assetPath>/custom-thumb/<assetId>.<ext>` tagged so the post-processing
        Lambda / Cloudflare container / self-hosted media processor generates the
        sized `customThumbnail` outputs and registers them on the asset via the
        file-update callback.

        Side effect: any prior active `customThumbnailOriginal` / `customThumbnail`
        files on the asset are flipped to `inactive` before the URL is issued so
        the new run replaces cleanly. If the user abandons the upload, the asset
        falls back to its auto-generated thumbnail via `getDisplayThumbnail` on
        the frontend.

        Custom thumbnails are only supported for `video` and `audio` assets.
      tags:
        - Assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fileName:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Original file name (used only for the extension on the S3 key).
                  example: cover.jpg
                mimeType:
                  type: string
                  enum:
                    - image/jpeg
                    - image/png
                    - image/gif
                    - image/tiff
                    - image/bmp
                    - image/webp
                    - image/svg+xml
                    - image/heif
                    - image/vnd.microsoft.icon
                    - image/aces
                    - image/heic
                  description: |
                    MIME type of the upload. Must be in the platform's supported image
                    set (derived from `apps/api/src/config/files.js supportedFileTypes.image`).
                  example: image/jpeg
                sizeInMB:
                  type: number
                  minimum: 0
                  x-exclusiveMinimum: true
                  maximum: 10
                  description: Approximate file size in megabytes; must be positive, capped at 10.
                  example: 1.2
              required:
                - fileName
                - mimeType
                - sizeInMB
              additionalProperties: false
      responses:
        '200':
          description: Multipart upload URL set returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  fileName:
                    type: string
                    description: Internal upload filename (`<assetId>.<ext>`).
                  assetId:
                    type: string
                    format: uuid
                  uploadId:
                    type: string
                    description: S3 multipart upload ID; pass back to `/complete-upload`.
                  key:
                    type: string
                    description: Full S3/R2 key the upload writes to.
                  urls:
                    type: array
                    description: Signed PUT URLs, one per part.
                    items:
                      type: string
                  mimeType:
                    type: string
                  expires:
                    type: integer
                    description: Unix timestamp when the signed URLs expire.
                  status:
                    type: string
                    enum:
                      - success
        '400':
          description: Invalid mediaType (only video/audio supported), invalid mimeType, or invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — caller lacks `canUpdateAsset` on this asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the video or audio asset to attach a custom thumbnail to.
      x-request-source: joi
  /assets/{assetId}/custom-thumbnail/complete-upload:
    post:
      summary: Finalize the multipart upload of a custom thumbnail
      description: |
        Commits the multipart upload to S3/R2. The resulting ObjectCreated event
        triggers the post-processing pipeline (Cloudflare container, self-hosted
        media processor, or Lambda) which generates the sized `customThumbnail`
        outputs and reports them back via `/v1/assets/file-update`. No
        original-file side effects (does not register the original on the asset
        directly and does not invoke MediaConvert, unlike `/v1/assets/complete-upload`).
      tags:
        - Assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: S3/R2 key of the in-progress multipart upload.
                uploadId:
                  type: string
                  description: Multipart upload ID returned from `/upload-url`.
                parts:
                  type: array
                  items:
                    type: object
                    properties:
                      ETag:
                        type: string
                      PartNumber:
                        type: integer
                        minimum: 1
                    required:
                      - ETag
                      - PartNumber
                    additionalProperties: false
                  minItems: 1
                  description: ETags collected from each part PUT, in order.
              required:
                - key
                - uploadId
                - parts
              additionalProperties: false
      responses:
        '200':
          description: Upload finalized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - completed
                  key:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — caller lacks `canUpdateAsset` on this asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      x-request-source: joi
  /assets/{assetId}/custom-thumbnail:
    delete:
      summary: Remove the custom thumbnail from an asset
      description: |
        Soft-deletes every active `customThumbnailOriginal` and `customThumbnail`
        file on the asset by flipping their status to `inactive`, decrementing the
        asset's `sizeInBytes` and storage quota by the bytes that were active.
        Frontend rendering helpers (`getDisplayThumbnail`) automatically fall back
        to the auto-generated `thumbnail` files. Broadcasts an `assetFileUpdate`
        websocket event so connected clients re-render without a refetch.
      tags:
        - Assets
      responses:
        '200':
          description: Custom thumbnail removed; returns the updated asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden — caller lacks `canUpdateAsset` on this asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - bearerAuth: []
      parameters:
        - name: assetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      x-request-source: joi
  /assets/{assetId}/document-url:
    get:
      summary: Get a signed inline-view URL for a document asset
      description: |
        Returns a short-lived signed URL for rendering a `document` asset inline in the
        viewer. Serves the processed `media` derivative (an optimised PDF with permission
        flags stripped), not the original — downloads of the original go through
        `POST /assets/download`. Requires `canGetAsset`.

        The asset must be `active`, have `mediaType: 'document'`, and have an active
        `media` file (i.e. post-processing finished successfully); otherwise a 400 is
        returned and the client should fall back to the file card.

        The `media` PDF is capped at a maximum page count, so `pagesTruncated`,
        `truncatedFrom` and `originalPageCount` tell the viewer whether and where pages
        are missing.
      tags:
        - Assets
      responses:
        '200':
          description: Signed view URL and document page metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: 'Signed GET URL (`Content-Type: application/pdf`, `Content-Disposition: inline`).'
                  expires:
                    type: integer
                    format: int64
                    description: Unix timestamp (seconds) when the signed URL expires.
                    example: 1705988395
                  pageCount:
                    type: integer
[...]
